*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	font-family: arial;
	margin: 0;
	padding: 0;
}

body {
  counter-reset: tests;
  overflow-x: hidden;
}

#app {
	margin: auto;
	max-width: 50em;
	padding: 1.125em;
}

#app.fullwidth {
  max-width: 100%;
}


/**
 * test wrapper and related info element styles
 */
.test {
	margin: 2em 0 1.25em 0;
}

.test h2 {
	margin-top: 0;
}

.test h2::before {
  content: "Test " counter(tests) ": ";
  counter-increment: tests;
}

.test pre {
	background: #111;
	color: #fff;
	margin: 0;
	padding: .75em;
  overflow: auto;
}

.test__info details {
	border: 1px solid #ccc;
	display: block;
	margin-top: -1px;
}

summary {
  cursor: default;
}

.test__info summary:focus,
.test__info summary:hover {
  outline: 2px solid blue;
}

.test__info summary,
.test__info details > div {
  padding: .75em;
}

.test__info details > div :last-child {
  margin-bottom: 0;
}

.test__info details > div :first-child {
  margin-top: 0
}

.test__case {
	border: 1px solid #ccc;
	padding: .825em;
}



/**
 * Results tables
 */
.results-table-wrap {
  overflow: auto;
}

.results-table-wrap table {
  border-spacing: 0;
  border: 1px solid #111;
  min-width: 820px;
  margin-left: 0;
  margin-right: 0;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

.results-table-wrap caption {
  background: #eee;
  border: 1px solid #111;
  border-bottom: 0;
  padding: .825em;
  text-align: left;
}

.results-table-wrap thead th {
  background: #ddd;
}

.results-table-wrap tbody tr:not(:last-of-type) > *,
.results-table-wrap thead tr > * {
  border-bottom: 1px solid #111;
}

.results-table-wrap td,
.results-table-wrap th {
  padding: .25em;
}

.results-table-wrap td:not(:last-of-type),
.results-table-wrap th:not(:last-of-type) {
  border-right: 1px solid #111;
}

.results-table-wrap td + th,
.results-table-wrap th + td {
  border-left: 1px solid #111;
}

.results-table-wrap .na {
  background: #eee;
}

.results-table-wrap .na[contenteditable] {
  background: #fff;
}

.results-table-wrap .partial {
  background: lightyellow;
}

.results-table-wrap .fail {
  background: darkred;
  color: #fff;
}

.results-table-wrap .pass {
  background: darkgreen;
  color: #fff;
}





/**
 * Some normalization for elements within tests
 */
button,
input {
	font-size: inherit;
}
